@import "CTE.css";
#section1{
  background: url("pics/gym.png") no-repeat center center;
  background-size: cover;
  min-height: 500px;
  background-attachment: fixed;
  height: 100%;
  width: 100%;
}
table{
  text-shadow: .015em .015em white,
  -.015em .015em white,
  .015em -.015em white,
  -.015em -.015em white;
}
