@import "CTE.css";
html{
  width: 100%;
  margin: 0;
  padding: 0;
}
#section1{
  background: url("pics/shoes.jpg") no-repeat center center;
  background-size: cover;
  min-height: 500px;
  background-attachment: fixed;
  height: 100%;
}
header{
  font-size: 15em;
  text-shadow: none;
}
.comp{
  padding-top: 10vh;
  padding-bottom: 5vh;
  padding-right: 12vh;
  padding-left: 2vh;
}
table{
  padding-top: 10vh;
  padding-bottom: 5vh;
  padding-right: 0;
  padding-left: 0;
  margin-right: 0;
  margin-left: 0;
  margin-bottom: 0%;
}
td{
  width: 33.333vw;
  height:40vh;
  padding:0;
  margin: 0;
}
.heading{
  font-size: 1.3em;
  text-align: center;
  color: white;
  display: block;
}
.description{
  color:white;
  display: none;
}

.comp {
  background: url("pics/IMG_3231.jpg");
  background-size: cover;
  opacity:.75;
  height: 100%;
  color:white;
  padding: 0;
  margin:0;
}
.comp:hover{
  background: url("pics/black.jpg");
}
.comp:hover .heading{
  display: none;
}
.comp:hover .description{
  display: block;
}

.comp1 {
  background: url("pics/Video Game Design.jpg");
  background-size: cover;
  opacity:.75;
  height: 100%;
  color:white;
  padding: 0;
  margin:0;
}
.comp1:hover{
  background: url("pics/black.jpg");
}
.comp1:hover .heading{
  display: none;
}
.comp1:hover .description{
  display: block;
}

.comp2 {
  background: url("pics/Braxton.jpg");
  background-size: cover;
  opacity:.75;
  height: 100%;
  color:white;
  padding: 0;
  margin:0;
}
.comp2:hover{
  background: url("pics/black.jpg");
}
.comp2:hover .heading{
  display: none;
}
.comp2:hover .description{
  display: block;
}

.comp3 {
  background: url("pics/Braxton.jpg");
  background-size: cover;
  opacity:.75;
  height: 100%;
  color:white;
  padding: 0;
  margin:0;
}
.comp3:hover{
  background: url("pics/black.jpg");
}
.comp3:hover .heading{
  display: none;
}
.comp3:hover .description{
  display: block;
}

.comp4 {
  background: url("pics/Braxton.jpg");
  background-size: cover;
  opacity:.75;
  height: 100%;
  color:white;
  padding: 0;
  margin:0;
}
.comp4:hover{
  background: url("pics/black.jpg");
}
.comp4:hover .heading{
  display: none;
}
.comp4:hover .description{
  display: block;
}

.comp5 {
  background: url("pics/Braxton.jpg");
  background-size: cover;
  opacity:.75;
  height: 100%;
  color:white;
  padding: 0;
  margin:0;
}
.comp5:hover{
  background: url("pics/black.jpg");
}
.comp5:hover .heading{
  display: none;
}
.comp5:hover .description{
  display: block;
}

.comp6 {
  background: url("pics/Software-Development.jpg");
  background-size: cover;
  opacity:.75;
  height: 100%;
  color:white;
  padding: 0;
  margin:0;
}
.comp6:hover{
  background: url("pics/black.jpg");
}
.comp6:hover .heading{
  display: none;
}
.comp6:hover .description{
  display: block;
}

.comp7 {
  background: url("pics/Braxton.jpg");
  background-size: cover;
  opacity:.75;
  height: 100%;
  color:white;
  padding: 0;
  margin:0;
}
.comp7:hover{
  background: url("pics/black.jpg");
}
.comp7:hover .heading{
  display: none;
}
.comp7:hover .description{
  display: block;
}

.comp8 {
  background: url("pics/Braxton.jpg");
  background-size: cover;
  opacity:.75;
  height: 100%;
  color:white;
  padding: 0;
  margin:0;
}
.comp8:hover{
  background: url("pics/black.jpg");
}
.comp8:hover .heading{
  display: none;
}
.comp8:hover .description{
  display: block;
}
