@import "CTE.css";
html{
  width: 100%;
}
#section1{
  background: url("pics/shoes.jpg") no-repeat center center;
  background-size: cover;
  min-height: 500px;
  background-attachment: fixed;
  height: 100%;
}
header{
  font-size: 15em;
  text-shadow: none;
}

td{
  padding-bottom: 20px;
}
