@import "TSA.css";
html{
  width: 100%;
}
#pic{
  font-family: 'Montserrat', sans-serif;;
  color: white;
  font-variant:small-caps;
  font-weight: 800;
  width: 100%;
  text-align: center;
  display: inline-block;
}
