@import "index.css";
#section1{
  /* picture of us bowing */
  background: url("pics/Webmaster1.jpg") no-repeat center center;
  background-size: cover;
  min-height: 500px;
  background-attachment: fixed;
  height: 100%;
}
.transTitle{
  font-size: 40;
  font-family: 'Montserrat', sans-serif;
  text-align:center;
  letter-spacing: 1.5;
  padding-top: 1;

}
table{
  padding-top: 80vh;
  margin-top: 80vh;
  border-width: 0;
  border-spacing: 0em;
  padding-left: 5vw;
  padding-right: 5vw;
  border: 0;
}
.cred{
  color: #660000;
  font-weight: normal;
  font-family: 'Montserrat', sans-serif;;
  width: 100vw;
  text-align: center;
  padding-left: 10vw;
  padding-right: 10vw;
  margin: 0vw;
  background-color: rgb(51, 51, 51,.4);
}
td{
  width: 16vw;
  color: white;
  border-width: 0;
  border-spacing: 0em;
  border: 0;
  height:25vh;
}
