@import "index.css";
#section1{
  background: url("pics/teamwork.png") no-repeat center center;
  background-size: cover;
  min-height: 500px;
  background-attachment: fixed;
  height: 100%;
}
header{
  padding-top: 22%;
  /* font-family: 'Oswald', sans-serif; */
  font-size: 20em;
  color: #00004d;
  line-height: 0;
  display: block;
  text-shadow: .015em .015em white,
  -.015em .015em white,
  .015em -.015em white,
  -.015em -.015em white;
}
#CTE-table {
  padding: 0;
  padding-top:0;
  margin-top: 0;
  width: 100%;
  padding-top:0;
  margin-top: 0;
  width: 100%;
  height: 60%;
  border-collapse: collapse;
}
td{
  width: 100%;
  height: 40%;
  padding: 0;
  border-spacing: 0em;
  border: 0;
  color: black;
  border-width: 0;
  border-color: white;
  font-family: 'Oswald', sans-serif;
  letter-spacing: 1.5;
  font-weight: bold;
  text-align: center;
}
.table-elem{
  width: 26%;
  height: 5em;
  padding: 0em 0em 0em 0em;
  border: none;
  border-spacing: 0em 0em;
}
.table-elem1{
  width: 26%;
  height: 5em;
  padding: 0em 0em 0em 0em;
  border: none;
  border-spacing: 0em 0em;
  background-color: #00004d;
}
#writingg{
  text-align: justify;
  margin:0;
  padding:0;
  margin-left: 5%;
  margin-right: 5%;
  font-family: 'Montserrat', sans-serif;;
  font-size: 16;
  padding-bottom: 5%;
}
table a{
  text-align: justify;
  color: black;
  margin:0;
  padding:0;
  margin-left: 5%;
  margin-right: 5%;
  font-family: 'Montserrat', sans-serif;;
  font-size: .8em;
  padding-bottom: 5%;
  text-decoration: none;
}
table a:hover{
  text-align: justify;
  margin:0;
  padding:0;
  margin-left: 5%;
  margin-right: 5%;
  font-family: 'Montserrat', sans-serif;;
  font-size: .8em;
  padding-bottom: 5%;
  text-decoration: none;
}
.transition
{
  font-size: 40;
  font-family: 'Montserrat', sans-serif;
  text-align:center;
  padding: 2%;
  letter-spacing: 1.5;
}
