/*body{
  margin-top: 50px;
  padding-bottom: 50px;
}*/
footer{
  padding: 30px;
  color: white;
  font-family: 'Raleway', sans-serif;
  font-size: 1.2em;
  padding: 1rem;
  padding-left: 0px;
  margin: 0px;
  /*background-color: #000749;*/
  background-color: 	#11113b;
  /* position: static; */
  right: 0;
  bottom: 0;
  left: 0;
  margin-top: 0px;
  margin-bottom: 0px;
  text-align: center;
  font-weight: normal;
}

footer a{
  color: white;
  font-weight: bold;
  text-decoration: none;
}
