@import "topMenu.css";
@import "footer.css";

html{
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
  line-height: 1.6;
  background-color: white;
  animation: fadeInAnimation ease 6s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  text-align: center;
  width: 100vw;
}
body{
  margin:0px;
  /*Fading effect for when home page loads*/
}
@keyframes fadeInAnimation {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
}
.trans{
  background-color: rgb(242, 242, 242);
  padding: 3vh;
  padding-bottom: 5vh;
  margin: 0;
  font-family: 'Montserrat', sans-serif;;
  font-size: 1.0625em;
}
.transTitle{
  font-size: 2.5em;
  font-family: 'Montserrat', sans-serif;
  text-align:center;
  letter-spacing: 1.5;
  /* padding-top: 20; */
}
#section1{
  background: url("pics/McKinney-Boyd.jpg") no-repeat center center;
  background-size: cover;
  background-attachment: fixed;
  height: 100vh;
  width: 100vw;
}
.transition
{
  font-size: 2.5em;
  font-family: 'Montserrat', sans-serif;
  /* font-variant:small-caps; */
  text-align:center;
  letter-spacing: 1.5;
  padding: 8vh;
  padding-top: 7vh;
}
#writingpic{
  background: url("pics/new-pic2.png") no-repeat left center;
  background-size: cover;
  background-attachment:local;
}
#writing{
  height: 100%;
  text-align: justify;
  margin-left: 40%;
  margin-right: 5%;
  padding-bottom: 11%;
  font-family: 'Montserrat', sans-serif;;
  font-size: 16;
  display: block;
}
#side{ //for red strip-picture thing
  width: 25%;
  height:100%;
  background-color: rgb(102, 26, 0,.5);
}
@media screen and (min-width: 800px) {
  #writing{
    height: 78%;
  }
  #pic{
    font-family: 'Montserrat', sans-serif;;
    font-size:75px;
    color: darkblue;
    text-align:center;
    font-weight: 800;
    padding:15px 0px 15px 0px;
    size: 85%;
  }
}

@media screen and (max-width: 801px){
  #pic{
    padding-bottom:3em;
    size: 85%;
  }
}
header{
  font-family: 'Oswald', sans-serif;
  font-size: 500;
  color: white;
  text-align: center;
  margin:0px;
  padding-left: .5em;
  padding-right:.5em;
  padding-top: .5em;
  padding-bottom: 3.5em;
}

.fullScreen{
  box-sizing: border-box;
  height: 100%;
}
#index-table {
  padding-top:0;
  margin-top: 0;
  height: 80vh;
  border-collapse: collapse;
  background: url("pics/boyd drawing.png") center center no-repeat;
  background-size: cover;
  width: 100vw;
}
td a{
  opacity: 1;
  text-shadow: .015em .015em white,
  -.015em .015em white,
  .015em -.015em white,
  -.015em -.015em white;
  font-size: 2.1875em;
  text-decoration: none;
  color: red;
  height: 100%;
  opacity: 1;
  visibility: visible;
}
td a:hover{
  text-decoration: none;
  color: red;
}
td{
  padding: 0em 0em 0em 0em;
  border-spacing: 0em;
  border-left: solid;
  border-right: solid;
  border-width: .5vw;
  border-color: lightgray;
  font-family: 'Oswald', sans-serif;
  letter-spacing: 1.5;
  font-weight: bold;
  text-align: center;
  font-size: 2.1875em;

}
#phone-table {
  padding-top:0;
  margin-top: 0;
  height:100vh;
  border-collapse: collapse;
  width: 100vw;
  display: none;
}
#phone-table td{
  width: 100vw;
  height: 33.33vh;
  border-width: 0vh;
}

.index-tsa{
  background: url("pics/IMG_3231.jpg") center center no-repeat;
  background-size: cover;
  background-attachment: local;
  transition: .5s ease;
  opacity: 0;
}
.index-tsa:hover{
  opacity: 1;
}
.index-cte{
  background: url("pics/CTE.jpg") center center no-repeat;
  background-size: cover;
  background-attachment: local;
  transition: .5s ease;
  opacity: 0;
}
.index-cte:hover{
  opacity: 1;
}
.index-cao{
  background: url("pics/hour-of-code.png") center center no-repeat;
  background-size: cover;
  background-attachment: local;
  transition: .5s ease;
  opacity: 0;
}
.index-cao:hover{
  opacity: 1;
}

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}
@media only screen and (min-width: 769px) {
  #writingpic{
    height: 100%;
    display: block;
  }
}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  [class*="col-"] {
    width: 100%;
  }
  #index-table{
    display: none;
  }
  #phone-table{
    display: block;
  }
  .index-cte{
    opacity: 1;
  }
  .index-tsa{
    opacity: 1;
  }
  .index-cao{
    opacity: 1;
  }
  td a{
    font-size: 2em;
    color:white;
  }
  #writing{
    margin-left: 8vw;
    margin-right:8vw;
    color: black;
    text-align: left;
  }
  .new{
    display: none;
  }
  #writingpic{
    background: url("pics/new-pic3.png") no-repeat center center;
    background-size: cover;
    height: 70vh;
    background-attachment:local;
  }
  .transition
  {
    padding: 2vw;
    padding-top: 5vw;
    padding-bottom: 3vw;
  }
}
