@import "CTE.css";
html{
}
table{
  width: 100vw;
  text-align: center;
  padding-left: 20vw;
  padding-right: 10vw;
}
td{
  width: 33vw;
  color:white;
}
#section1{
  background: url("pics/Mr Rance.jpg") no-repeat center center;
  background-size: cover;
  min-height: 500px;
  background-attachment: fixed;
  height: 100vh;
}
#section2{
  background: url("pics/President 2.jpg") no-repeat center center;
  background-size: cover;
  min-height: 500px;
  background-attachment: fixed;
  height: 100vh;
}
#section3{
  background: url("pics/Vice President.jpg") no-repeat center center;
  background-size: cover;
  min-height: 500px;
  background-attachment: fixed;
  height: 100vh;
}
#section4{
  background: url("pics/Officers1.png") no-repeat center center;
  background-size: cover;
  min-height: 500px;
  background-attachment: fixed;
  width: 100%;
}
header{
  padding-top: 40vh;
  font-size: 12.5em;
  color: skyblue;
  line-height: 0;
  display: block;
}
.transition{
  font-size: 2.5em;
}
@media only screen and (max-width: 768px) {
  header{
    font-size: 4em;
    text-align: center;
    padding-top: 50vh;
  }
  #section4{
    background: url("pics/Officers1.png") no-repeat center center;
    background-size: cover;
  }
