html{
  box-sizing: border-box;
  font-family: 'Oswald', sans-serif;
  letter-spacing: 1.5;
}
body{
  /*padding-bottom: 70px;*/
  margin:0px;
  letter-spacing: 1.5;
}
.topnav {
  overflow:visible;
  letter-spacing: 1.5;
  font-family: 'Oswald', sans-serif;
  text-align: right;
  color:white;
  margin: 0;
  padding: 0;
}
.topnav a {
  float: right;
  color: white;
  text-align: center;
  text-decoration: none;
  font-size: 1.375em;
  padding: 2vh;
  padding-top: .1vh;
  padding-bottom: .1vh;
}

.topnav a:hover{
  color:white;
  text-decoration: none;
}

.topnav .active {
  /*background-color: #ffff99;*/
  color: black;
}

.dropdown {
  float: right;
  overflow: visible;
  text-align: right;
  font-size: 1.25em;
}

.dropdown .dropbtn {
  border: none;
  outline: none;
  background-color: inherit;
  text-align: right;
  font-size: 1.25em;
}

.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: rgb(242, 242, 242, .5);
}

.dropdown-content {
  font-family: 'Oswald', sans-serif;
  size: inherit;
  float: none;
  display: none;
  position: absolute;
  background-color: rgb(249, 249, 249,.5);
  min-width: 250px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  font-size: .75em;
}

.dropdown-content .active{
  background-color: rgb(77, 77, 77);
}

.dropdown-content a {
  font-family: 'Oswald', sans-serif;
  size: inherit;
  font-family: 'Oswald', sans-serif;
  size: inherit;
  float: none;
  color: black;
  padding: 0;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: rgb(221, 221, 221, .5);
  color: white;
  text-decoration: none;
}

.dropdown:hover .dropdown-content {
  display: block;
  float: left;
}
.phone{
  display: none;
}
.reg{
  display: block;
}
@media screen and (min-width: 801px){
  .topnav a {
    padding-top: 4vh;
  }
}

@media only screen and (max-width: 768px) {
  .topnav {
    text-align: center;
  }
  .phone{
    display: block;
  }
  .reg{display: none;}
}
