@import "index.css";
html{
  width: 100%;
}
body{
  width: 100%;
}
.front{
  height: 100%;
  background-color: #660000;
}
#section1{
  background: url("pics/hour-of-code.png") no-repeat center center;
  background-size: cover;
  background-attachment: fixed;
  height: 20%;
  margin: 0;
  padding: 0;
  width: 100%;
}
#Motto{
  text-align: center;
  padding-bottom: 20;
  background-color: #660000;
  color: white;
  font-family: 'Montserrat', sans-serif;;
  font-size: 1em;
  padding: 0;
  margin: 0;
}
section span {
  display: inline-flex;
  background-color: rgb(153, 204, 255, .5);
}
#tt{
  display: inline-block;
  font-family: 'Oswald', sans-serif;
  font-size: 29.375em;
  color: #00004d;
  padding-top: 28%;
  text-align: justify;
  line-height: 0;
  box-sizing: border-box;
  height: 100%;
}

#TSA-table{
  width: 100%;
  height: 100%;
  color: white;
}
#writing{
  height: 100%;
  text-align: justify;
  margin-left: 5%;
  margin-right: 5%;
  font-family: 'Montserrat', sans-serif;;
  font-size: 1.1em;
}
.transition1
{
  font-size: 2.75em;
  font-family: 'Montserrat', sans-serif;;
  /* font-variant:small-caps; */
  text-align:center;
  letter-spacing: 1.5;
  padding: 10;
}
table {
  padding: 20;
  padding-top:0;
  margin-top: 0;
  width: 100%;
}
#writing1{
  height: 100%;
  padding: 50;
  text-align: justify;
  font-family: 'Montserrat', sans-serif;;
  font-size: .4em;
  font-weight: normal;
  color: white;
  background-color:#334d99;
}
#writing3{
  height: 100%;
  padding: 50;
  text-align: justify;
  font-family: 'Montserrat', sans-serif;;
  font-size: .4em;
  font-weight: normal;
  color: white;
  background-color:#bf4040;
}
.image {
  display: block;
  width: 100%;
  height: auto;
}
#chapWriting
{
  background-color: #00004d;
  width: 30%;
  height:95%;
  color: white;
  font-weight: normal;
}
.table-elem{
  width: 50%;
  padding: 0em 0em 0.75em 0.75em;
  border: none;
  border-spacing: 0em 0em;
}
.overlay1 {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #334d99;
}

#writing1:hover .overlay1 {
  opacity: 1;
}
.overlay2 {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #bf4040;
}

#writing3:hover .overlay2 {
  opacity: 1;
}
.text {
  color: white;
  font-size: 1.25em;
  top: 50%;
  left: 50%;

  text-align: center;
}
