@import "index.css";
#section1{
  background: url("../webmaster1920/pics/hour-of-code.png") no-repeat center center;
  background-size: cover;
  min-height: 500px;
  background-attachment: fixed;
  height: 100%;
}
#Motto{
  text-align: center;
}

#TSA-table{
  width: 100%;
  height: 100%;
}

.transition1
{
  font-size: 40;
  font-family: 'Montserrat', sans-serif;;
  /* font-variant:small-caps; */
  text-align:center;
  letter-spacing: 1.5;
  padding: 10;
}

.table-elem{
  padding: 20;
  width: 50%;
}
